/* fontPT x (4/3) = font px */

/**** HEADER */
/* FORM */
#header-form, #inputDisplay {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 8px;
    font-size: 12px;
}

#header-form label {
    display: block
}

#inputDisplay p {
    margin: 0px;
    padding: 2px;
    font-size: 13px;
    
}

#header-form div{
    margin: 0px;
    padding: 0px
}

#header-form input {
    padding: 5px;
    width: 250px;
    height: 20px
}

#header-form button, #inputDisplay button {
    grid-column: 1 / 3; 
    margin: 10px
}



/* DISPLAY */
#headerDisplay {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

h1#name {
    font-size: 32px;
    padding: 2px;
}

#headerInfo {
    display: flex;
    font-size: 12px;
    align-items: center;
}

a {
    text-decoration: none;
}

