#app {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family:  Calibri, Roboto, 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}

#form {
  float: left;
  width: 50%;
  height: 100vh;
  border: 1px solid black;
}

#display {
  float: right;
  width: 50%;
  height: 100vh;
  border: 1px solid black;
}